doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		script(src='/scripts/main.js')
	body
		.navbar
			a(href='/') Home
			a(href='/users') Dashboard
			.dropdown
				button.dropbtn
					| Dropdown
					i.fa.fa-caret-down
				.dropdown-content
					a(href='#') Link 1
					a(href='#') Link 2
					a(href='#') Link 3
		block content

